<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <script src="editForm.js"></script>-->
    <!--    <script src="DeleteUser.js"></script>-->
    <!--    <script src="NewUser.js"></script>-->
    <title>2RukinEdu</title>
</head>
<body>


<!--Main container-->
<div class="container-fluid" style="height: 100vh">

    <!--    Row with header - Role and Logout-->
    <div class="row bg-dark">
        <div class="col text-white">
            <h2>
                <div class="p-3">
                    <b th:text="${loggedInUsername}"></b>
                    <!--          <th:block th:text="'with roles: ' + ${loginRoles}"></th:block>-->
                </div>
            </h2>
        </div>
        <div class="col text-white-50">
            <div class="p-3">
                <h4 class="text-right">
                    <a th:href="@{/logout}">
                        <span class="align-middle" th:text="Logout"></span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
    </div>

    <div class="row  h-100">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a sec:authorize="hasRole('ADMIN')"
                   class="nav-link active"
                   id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>

                <a class="nav-link"
                   th:classappend="${#authorization.expression('hasRole(''ADMIN'')') ? '' : 'active'}"
                   id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>

        <div class="col-md-10 bg-light ">
            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab" sec:authorize="hasRole('ADMIN')">
                    <h1>Admin Panel</h1>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="usersTable-tab" data-toggle="tab" href="#usersTable"
                               role="tab" aria-controls="usersTable" aria-selected="true">Users Table</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser" role="tab"
                               aria-controls="profile" aria-selected="false">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                             aria-labelledby="usersTable-tab">
                            <div class="card-header"> All Users</div>
                            <!--                            ALL USERS TABLE-->
                            <table class="table table-striped" id="usersTable-table">
                                <thead id="usersTable-thead">
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersTable-tbody">


                                </tbody>
                            </table>
                            Edit Modal
                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal header -->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body" id="editModalForm-body">

                                            <!-- Form for editing user information goes here -->
                                            <form action="@{edit/{id}(id=${user.id})}"
                                                  object="${user}" method="post">

                                                <div class="form-group">
                                                    <label for="idEditWin"
                                                           class="row font-weight-bold justify-content-center">ID</label>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="id"
                                                           id="idEditWin"
                                                           value="*{id}"
                                                           readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="userNameEditWin"
                                                           class="row font-weight-bold justify-content-center">First
                                                        Name</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="userName"
                                                           id="userNameEditWin"
                                                           value="*{userName}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="lastNameEditWin"
                                                           class="row font-weight-bold justify-content-center">Last
                                                        Name</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="lastName"
                                                           id="lastNameEditWin"
                                                           value="*{lastName}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="ageEditWin"
                                                           class="row font-weight-bold justify-content-center">Age</label>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="age"
                                                           id="ageEditWin"
                                                           value="*{age}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="emailEditWin"
                                                           class="row font-weight-bold justify-content-center">E-mail</label>
                                                    <input type="email"
                                                           class="form-control"
                                                           name="email"
                                                           id="emailEditWin"
                                                           value="*{email}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="passwordEditWin"
                                                           class="row font-weight-bold justify-content-center">Password</label>
                                                    <input type="password"
                                                           class="form-control"
                                                           name="password"
                                                           id="passwordEditWin">
                                                </div>

                                                <div class="form-group">
                                                    <label for="rolesEditWin"
                                                           class="row font-weight-bold justify-content-center">Role</label>
                                                    <select class="form-control"
                                                            multiple name="rolesSet"
                                                            id="rolesEditWin">
                                                        <option each="role : ${roles}"
                                                                value="${role.id}"
                                                                text="${role.getRoleNameNoPrefix()}">
                                                        </option>
                                                    </select>
                                                </div>

                                                <!--                                                <div class="modal-footer">-->
                                                <!--                                                    <button type="button"-->
                                                <!--                                                            class="btn btn-secondary"-->
                                                <!--                                                            data-dismiss="modal">-->
                                                <!--                                                        Close-->
                                                <!--                                                    </button>-->
                                                <!--                                                    <input type="submit"-->
                                                <!--                                                           class="btn btn-primary"-->
                                                <!--                                                           value="Edit">-->
                                                <!--                                                </div>-->
                                            </form>


                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--              Delete Modal-->
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal header -->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">

                                            <!-- Form for delete user ifhrtktnformation goes here -->
                                            <form action="@{del/{id}(id=${user.id})}"
                                                  object="${user}" method="post">

                                                <div class="form-group">
                                                    <label for="idDeleteWin"
                                                           class="row font-weight-bold justify-content-center">ID</label>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="id"
                                                           id="idDeleteWin"
                                                           value="*{id}"
                                                           readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="userNameDeleteWin"
                                                           class="row font-weight-bold justify-content-center">First
                                                        Name</label>
                                                    <input type="text" class="form-control" name="userName"
                                                           id="userNameDeleteWin" value="*{userName}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="lastNameDeleteWin"
                                                           class="row font-weight-bold justify-content-center">Last
                                                        Name</label>
                                                    <input type="text" class="form-control" name="lastName"
                                                           id="lastNameDeleteWin" value="*{lastName}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="ageDeleteWin"
                                                           class="row font-weight-bold justify-content-center">Age</label>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="age"
                                                           id="ageDeleteWin"
                                                           value="*{age}"
                                                           readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="emailDeleteWin"
                                                           class="row font-weight-bold justify-content-center">E-mail</label>
                                                    <input type="email" class="form-control" name="email"
                                                           id="emailDeleteWin" value="*{email}" readonly>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <input type="submit" class="btn btn-danger" value="Delete">
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                            <div class="card-header"> Add new User</div>
                            <div class=" d-flex justify-content-center align-items-center">
                                <div class="col-5">
                                    <!--                          NEW USER FORM-->
                                    <br>
                                    <form id="newUser-form">

                                        <div class="form-group">
                                            <label for="userName" class="row font-weight-bold justify-content-center">First
                                                Name</label>
                                            <input type="text" class="form-control" id="userName">
                                        </div>

                                        <div class="form-group">
                                            <label for="lastName" class="row font-weight-bold justify-content-center">Last
                                                Name</label>
                                            <input type="text" class="form-control" id="lastName">

                                        </div>

                                        <div class="form-group">
                                            <label for="age"
                                                   class="row font-weight-bold justify-content-center">Age</label>
                                            <input type="number" class="form-control" id="age">

                                        </div>

                                        <div class="form-group">
                                            <label for="email"
                                                   class="row font-weight-bold justify-content-center">Email</label>
                                            <input type="email" class="form-control" id="email">

                                        </div>

                                        <div class="form-group">
                                            <label for="password" class="row font-weight-bold justify-content-center">Password</label>
                                            <input type="password" class="form-control" name="password" id="password">

                                        </div>

                                        <div class="form-group">
                                            <label for="roles"
                                                   class="row font-weight-bold justify-content-center">Role</label>
                                            <select class="form-control" multiple id="roles">

                                            </select>
                                        </div>

                                        <div class="d-flex justify-content-center align-items-center">
                                            <button type="submit" class="btn btn-success" value="Add new user"
                                                    id="addNewUser-btn">Add new user
                                            </button>
                                        </div>

                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade "
                     th:classappend="${#authorization.expression('hasRole(''ADMIN'')') ? '' : 'show active'}"
                     id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <!--                           USER INFO-->
                    <h1> User Information - page</h1>
                    <div class="card-header"><h4> About user</h4></div>
                    <!--                            ALL USERS TABLE-->
                    <table class="table table-striped" id="aboutUser-table">
                        <thead id="aboutUser-thead">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Roles</th>
                        </tr>
                        </thead>
                        <tbody id="aboutUser-tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="module" src="http://localhost:8080/new-user.js"></script>
<script type="module" src="http://localhost:8080/main.js"></script>

</body>
</html>